body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: gray;
}

h1{
    font-size: 45px;
    
}

h2{
     font-size: 35px;
}

.color{
    color: orangered;
}
.flex{
    display: flex;
}

.half-width{
    width: 40%;
    padding: 2%;
}

.half-width img{
    width: 100%;   
}



.link-btn{
background-image:linear-gradient(orangered , orange);
text-decoration: none;
padding: 15px 30px ;
border-radius:20%;
color: whitesmoke;
font-weight: 800;
}

.about-me{
    background-image: url(images/7.png);
    background-repeat: no-repeat;  
}

.recipies {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
}

.card{
    width: 300px;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 1px 2px 10px gray;
}

.img-style{
    width: 100%;

}



.card-body{
    padding: 5px;
}

.card-title{
    text-align: center;
}

.car-des{
    text-align: justify;
   
}

.container{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    margin-bottom: 150px;
}

.card{
    background-color: whitesmoke;
    width: 300px;
    height: 400px;
    margin: 20px;
    border-radius: 20px;
    padding: 10px;
    box-shadow:20px 10px 40px gray;
}

.card-img{
    background-color: white;
    height: 200px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 20px;
    padding: 10px 30px;
}

.card:hover{
    box-shadow:20px 10px 50px skyblue;
}

#card-1{
   background-image: url(images/card-1.png);
}

#card-2{
    background-image: url(images/card-2.png);
 }

 #card-3{
    background-image: url(images/card-3.png);
 }

 .footer{
     background-color: rgb(10, 2, 15);
     text-align: center;
     padding: 20px;
 }
 .footer{
     font-size: 20px;
 }
 