body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: gray;
    padding: 0%;
}

h1{
    font-size: 40px;
    line-height: 25%
    
}

h2{
     font-size: 35px;
}

h3{
    font-size: 20px;
    font-weight: 900;
    color: black;
}

p{
    font-size: 20px;
}
.color{
    color: orangered;
    
}

.head{
    margin-top: 10%;
}
.flex{
    display: flex;
}

.half-width{
    width: 40%;
    padding: 2%;
}

.half-width img{
    width: 100%;   
}





.link-btn{
background-image:linear-gradient(orangered , orange);
text-decoration: none;
padding: 20px ;
border-radius:30px;;
color: whitesmoke;
font-weight: 800;
}

.about-me{
    background-image: url(images/7.png);
    background-repeat: no-repeat;  
}

.recipies {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
}

.recipies h2{
    text-decoration: underline;
}

.container{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    margin-bottom: 150px;
}

.card{
    background-color: whitesmoke;
    width: 330px;
    height: 430px;
    margin: 25px;
    border-radius: 20px;
    padding: 10px;
    box-shadow:20px 10px 40px gray;
}

.card-img{
    background-color: white;
    height: 200px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 20px;
    padding: 10px 30px;
}

.card:hover{
    box-shadow:20px 10px 50px rgb(75, 182, 224);
    transition: 1s;
}

#card-1{
   background-image: url(images/card-1.png);
}

#card-2{
    background-image: url(images/card-2.png);
 }

 #card-3{
    background-image: url(images/card-3.png);
 }

 .footer{
     background-color: rgb(10, 2, 15);
     text-align: center;
     padding: 20px;
 }
 